@import "../global/responsive.scss";

.slider {
  width: 100%;
  gap: 20px;

  .fullSlider {
    z-index: 40;
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
  }

  .smallImages {
    img {
      height: 100px;
      min-width: 150px;
    }
  }
}
