@import "../global/responsive.scss";

.estatePage {
  display: flex;
  gap: 10px;
  height: 100%;

  @include lg {
    flex-direction: column;
    overflow-y: scroll;
  }

  .details {
    flex: 3;
    height: 100%;
    overflow-y: scroll;

    @include lg {
      flex: none;
      height: max-content;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      padding-right: 50px;
      gap: 50px;

      .info {
        margin-top: 20px;

        .top {
          .post {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }

          .address {
            display: flex;
            gap: 10px;
            font-size: 14px;
            color: #6b7280;
            align-items: center;
          }

          .price {
            color: #2563eb;
            font-weight: 500;
            font-size: 20px;
          }

          .user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // padding: 10px 40px;
            border-radius: 10px;
            font-weight: 500;
            gap: 20px;

            img {
              width: 60px;
              height: 60px;
              object-fit: cover;
              border-radius: 50%;
            }
          }
        }

        .bottom {
          margin-top: 50px;
          color: #57534e;
          line-height: 20px;
          font-family: "chillax";
        }
      }
      @include xl {
        padding-right: 0;
      }
    }
  }

  .features {
    flex: 2;
    height: 100%;
    overflow-y: scroll;

    @include lg {
      flex: none;
      height: max-content;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .listVertical {
        img {
          width: 35px;
          height: 35px;
          object-fit: cover;
        }
      }

      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
      }

      .title {
        color: #18181b;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .listVertical {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .feature {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #18181b;

          .featureText {
            span {
              font-size: 18px;
              font-weight: 600;
            }
          }
        }
      }

      .listHorizontal {
        .size {
          display: flex;
          align-items: center;
          gap: 5px;
          color: #18181b;
        }
      }

      .mapContainer {
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        height: 250px;
      }
    }
  }
}
